<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="app">
        <!-- v-if -->
        <button @click="switchShow">开关</button>
        <div v-if="show">$[ show ? 'bad ass' : 'motherfucker' ]</div>
        <!-- v-for -->
        <ul>
            <li v-for="food in foodList" :key="food.name">$[food.name]：￥ $[food.price]</li>
        </ul>
        <!-- v-model -->
        <div><input v-model="text" /></div>
        <!-- v-bind & event -->
        <div :class="bindClass" @click="update">$[sum]</div>
    </div>

    <script src="../../dist/vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>